.leaflet-container {
    height: 70%;
    margin: 1em;
}

.ui-widget {
    margin-bottom: 1em;
}

h1 {
    text-align: center;
}

.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

#map {
    z-index: 1;
}

.ui-autocomplete {
    max-height: 10em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}

#movie{
    width: 30%;
}