{% load leaflet_tags %}
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
    <link href="{% static 'css/index.css' %}" rel='stylesheet' />

</head>
<body>
<h1>SF Movies - Shoot Locations</h1>

<div class="ui-widget">
    <label for="movie">Movie </label>
    <input id="movie">
</div>
<div id="map" > </div>


<script type="text/javascript">
    var geojson_obj;
    var map = L.map('map',{ center: [37.773972, -122.431297], zoom: 13 });
//    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' }).addTo(map);
//    map.doubleClickZoom.disable();
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoicnV0dTMiLCJhIjoiY2o5ZTZveGs2MjhvbjMyb3JxN2tmd2trOSJ9.-GbjsMNZKy0X7yNSenld2Q'
    }).addTo(map);

    $(function () {
        $("#movie").autocomplete({
            source: "/get_movies/",
            minLength: 2,
            select: function( event, ui ) {
                data = {"movie": ui.item.value}
                if (geojson_obj){
                    geojson_obj.clearLayers();
                }
                $.ajax({
                    url: '/get_locations/',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (data) {
                        geojson_obj = L.geoJson(data, {
                            onEachFeature: function (feature, layer) {
                                layer.bindPopup('<h5>'+feature.properties.location+'<h5><p>'+feature.properties.fun_fact+' </p>');
                            }
                        }).addTo(map);
                    }
                });

            }
        });


    });

</script>


</body>
</html>